/* .main{
    display: flex;
    flex-direction: row;
} */


.input_icon{
    padding-left: 25px;
  background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
  background-size: 20px;

}